<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>
<body>
  <div class="row">
    <!-- <div > -->
    <div *ngFor="let news of lists" class="col-sm-12 col-md-6 col-lg-3">
      <img src="{{news.urlToImage}}" alt="" class="img-fluid" style="max-width: 100%;height:auto" >
      <a href="{{news.url}}">{{news.title}}</a>
      <p>{{news.content}}</p>
      <p>shorts by {{news.author}}</p>
      <p>{{news.publishedAt|date}}</p><hr>
    </div>
  <!-- </div> -->
  </div>
  <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body>
</html>